body{
  height: auto;
  overflow-y: hidden;
}
.interruptions_wrapper{
  width: 100%;
  height: 100%;
}
.myMapDiv{
  width: 100%;
  height: 99vh;
  background-color: azure;
  z-index: 1;

}
.searchBox{
width: auto;
margin-top:15px;
height: auto;
background-color: #fff;
z-index: 2;
position: absolute;
right: 1em;
}

.searchBox__searchInput{
    width: 7em;
    height: auto;
    background: #fff;
    border: none;
    color: #FFF;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #000;


}

.searchBox__searchSubmit{

}

.searchResults{

}

.searchBox_icon{

}

.searchBox__searchSubmit {

}
