body{
  height: auto;
}

.esriSimpleSliderTL {
    top: 4em;
}

.interruptions__wrapper{
  width: 100%;
  height: 100%;
}

.map_div{
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 1.7em;
}

.interruptions__header{
  width: 100%;
  margin-top: 0.1em;
  padding: 0;
  height: 1.6em;
  background-color: ghostwhite;
  z-index: 2;
  position: fixed;
}

@import "components/searchbar-component";
@import "components/statistics";
@import "components/statistics-summary";
@import "components/griddlegrid-component.scss";

//@import "components/myGrid";
