body { height: auto; }

/*this edit the css map from default esri.css*/
.esriSimpleSliderTL { top: 35px; }

.interruptions_wrapper { width: 100%; height: 100%; }

.myMapDiv { width: 100%; height: 100vh; background-color: white; z-index: 1; overflow-x: hidden; overflow-y: hidden; }

.searchNotification { width: auto; margin-top: 1.8em; position: fixed; top: 0px; z-index: 2; right: 0; visibility: hidden; }

.orderNotification { width: 16em; margin-top: 4em; padding-right: 1em; position: fixed; top: 0em; z-index: 2; visibility: hidden; }

/*THIS IS FOR SOME INTERRUPTION 2 HTML CONTROLS NOT AVAILABLES IN INTERRUPTIONS.HTML*/
.searchBox { width: auto; margin-top: 0.1em; padding: 0; height: auto; background-color: ghostwhite; z-index: 2; position: fixed; right: 0; }

.searchBox__searchInput { height: 1.6em; width: 8em; }

.searchbox__combobox { height: 1.6em; padding: 0; margin: 0px; }

.searchBox__searchSubmit { height: auto; width: 2.5em; text-align: center; padding: 0; margin: 0; }

.searchBox__tableToggle { height: auto; width: 8em; text-align: center; padding: 0; margin: 0; }
