body{
  height: auto;

}
.interruptions_wrapper{
  width: 100%;
  height: 100%;
  overflow-y: hidden;

}
.myMapDiv{
  width: 100%;
  height: 98vh;
  background-color: azure;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}
.searchBox{
width: auto;
margin-top:15px;
height: auto;
background-color: #fff;
z-index: 2;
position: absolute;
right: 1em;
}.searchBox__searchInput{
  height: 2.4em;
}
/*for the mytable grid that has to show all the feature results*/
.mytable-searchBox{
  width: 100%;
  height: 3em;
  display: inline-flex;
  padding-top: 1em;
}

.mytable-searchBox__title{
  margin-top: 2px;
  margin-right: 10px;
}

.mytable_searchBox__hr{
  margin-top: 8px
}

.mytable-Wrapper__table{
  overflow-x: auto;
}
