.wrapper_statistics{
  background-color: ghostwhite;
  position: absolute;
  top: 0;
  padding-left: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  display: inline-flex;
  width: 50%;
}
.interruptions_qty-h5{
  padding-left: 4em;
  top: 0;
  width: 35%;
  padding: 0.2em 1em;
  margin: 0em;
}

.esriSimpleSliderTL {
    top: 35px;
    
}
