/*CSS for Grid Component on bot (Collapsible).
*author: Evelyn Hernández. 2016.
*29/03/2016
*/

$backgr-color: white;

.mygrid{
  width: 50em;
  height: auto;
  max-height: 50em;
  background-color: ghostwhite;
  bottom: 0px;
  z-index: 2;
  position: absolute;
  right: 0;
  overflow-x: scroll;
  visibility: hidden;
}
.u-hidden {
  display: none;
}

.mytable-Wrapper{
  @extend .mygrid;
}

.mytable-searchBox-h4{
  font-size: 14px;
  padding-left: 5px;
  font-family: monospace;
  margin: 0em;
  padding-top: 2px;
}
.mytable-searchBox-h5{
  font-family: monospace;
}
.mytable-searchBox-img{
  width: 1em;
  height: 1em;
}

/*for the mytable grid that has to show all the feature results*/
.mytable-searchBox{
  width: 100%;
  height: 3em;
  display: inline-flex;
  padding-top: 1em;
  padding-left: 2em;
}

.mytable-searchBox__title{
  margin-top: 2px;
  margin-right: 10px;
}

.mytable_searchBox__hr{
  margin-top: 8px;
}
.mytable-searchBox__input{
  width: 14em;
}
.mytable-Wrapper__table{
  font-size: 11px;
}

.mytable-Wrapper__table-tr{
  font-size: 9px;
  font-style: normal;
  font-weight: bold;
  width: auto;
}

td{
  width: auto;
}
.td_width{
  width: 6%;
}

.mytable-searchBox__relatedNIS{
  visibility: hidden;
}

.mytable_paginator{
  float: right;
}
