
.orderTimer{
  width: 50em;
  height: auto;
  max-height: 50em;
  background-color: ghostwhite;
  bottom: 0px;
  z-index: 2;
  position: absolute;
  right: 0;
  overflow-x: scroll;
  visibility: hidden;
}
.wrapper_ordertimer{
  @extend .orderTimer;
}
