/*CSS for searchBox on top.
*author: Evelyn Hernández. 2016.
*29/03/2016
*/
$search-box-bg: ghostwhite;
$notification-box-bg: gainsboro;
.searchBox__searchInput{
  height: 1.6em;
  width: 8em;
}

.searchBox{
  width: auto;
  margin-top: 0.1em;
  padding: 0;
  height: auto;
  background-color: $search-box-bg;
  z-index: 2;
  position: fixed;
  right: 0;
}

.searchBox__searchSubmit{
  height: auto;
  width: 2.5em;
  text-align: center;
  padding: 0;
  margin: 0;
}

.searchBox__tableToggle{
  height: auto;
  width: 8em;
  text-align: center;
  padding: 0;
  margin: 0;
}

.notificationBox{
  width: 29em;
  height: 1.5em;
  margin-top: 1.8em;
  padding: 0em;
  background-color: $notification-box-bg;
  z-index: 2;
  position: fixed;
  right: 0;
  visibility: hidden;
}

/*start: css for interruption2*/
.searchbox__combobox{
  height: 1.6em;
  padding: 0;
  margin: 0px;
}
/*end*/
