$backg-color: ghostwhite;

@media screen and (min-width: 640px) {
  .statistic-h4{
      font-size: smaller;
  }
}
.wrapper__statistics{
  float: left;
  background-color: $backg-color;
  position: fixed;
  top: 0;
  padding-top: 0.2em;
  display: inline-flex;
  width: 50%;
  height: 1.6em;
}

.statistic__kind{
  display: inline-flex;
}

.statistic___massive{
  margin-left: 0.5em;
}

.statistic___isolated{
    @extend .statistic___massive;
}
.statistic___total{
    @extend .statistic___massive;
}
.statistic-img{
    padding-right: 0.5em;
    width: 1.5em;
}

.statistic-span{
  padding-left: 0.5em;
}
